.nav-style {
  font-size: 2rem;
  text-decoration: none;
}

.border-style {
  border-top: 1px solid #000000;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  position: relative;
  font-size: 62.5%;
}

/* body {
  min-height: 100%;
  position: relative;
  padding-bottom: 6rem;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: url("../Images/clouds.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
} */
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 4rem;
  font-family: 'Rock Salt', cursive;
  color: #FFD90F;
}

h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}

h3 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}

p,
ol {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}

.container {
  min-height: 100vh;
  /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  /* height of your footer */
  width: 100%;
  margin: 0 auto;
}

.footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: #FFD90F;
  color: #ffffff;
  border-bottom: 1px solid #000000;
}

@media (min-width: 900px) {
  .nav-content {
    flex-direction: row;
    justify-content: space-between;
    border-bottom: none;
  }
}

@media (min-width: 1200px) {
  .nav-content {
    width: 100%;
    justify-content: space-around;
    background-color: #3AC8FF;
    border-bottom: none;
  }
}

.nav-content h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  margin-top: 20px;
  color: #ffffff;
}

@media (min-width: 900px) {
  .nav-content h1 {
    margin-left: 20px;
  }
}

.nav-content nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (min-width: 900px) {
  .nav-content nav {
    flex-direction: row;
  }
}

.nav-content nav a {
  display: flex;
  font-size: 2rem;
  text-decoration: none;
  margin: 10px;
  color: #FF7C8E;
  text-transform: uppercase;
}

@media (min-width: 900px) {
  .nav-content nav a {
    text-transform: capitalize;
    font-size: 1.5rem;
    color: #FF7C8E;
  }
}

@media (min-width: 1200px) {
  .nav-content nav a {
    color: #000000;
  }
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF7C8E;
  border-top: 1px solid #000000;
}

@media (min-width: 501px) {
  footer {
    border-top: none;
  }
}

footer p {
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 15px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0;
}

.main-content .arm {
  width: 100%;
}

@media (min-width: 501px) {
  .main-content .arm {
    width: 75%;
  }
}

@media (min-width: 900px) {
  .main-content .arm {
    width: 50%;
  }
}

.main-content .features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-top: 1px solid #000000;
}

@media (min-width: 501px) {
  .main-content .features {
    border: none;
  }
}

.main-content .features h1 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.main-content .features ol {
  margin-top: 10px;
}

.main-content .features ol .list {
  font-size: 1.5rem;
  margin: 10px;
}

.main-content .features .highlight {
  color: #FFF738;
}

.main-content .features .login {
  margin: 30px 0px;
}

.upper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.upper #darken {
  color: #000000;
}

.upper p {
  padding: 10px;
  color: #ffffff;
}

.upper .Jim,
.upper .Marc,
.upper .Crystal {
  margin-top: 20px;
  color: #FFD90F;
}

.body {
  width: 100%;
  height: 100%;
}

.login {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  border-width: 0.5px;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 5px;
}