.upper {
    .center();
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;

    #darken {
        color: @black;
    }


    p {
        padding: 10px;
        color: @white;
    }

    .Jim,
    .Marc,
    .Crystal {
        margin-top: 20px;
        color: @simpsonyellow;
    }
}