footer {
    width: 100%;
    .center();
    background-color: @pink;
    .border-style;

    @media @tablet-portrait-up {
        border-top: none;
    }

    p {
        text-align: center;
        color: @font-color;
        font-size: 1.5rem;
        padding: 15px;
    }

}