.nav-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: @simpsonyellow;
    color: @font-color;
    border-bottom: 1px solid black;

    h1 {
        .center();
        font-size: 4rem;
        margin-top: 20px;
        color: @white;
    }

    nav {
        .center();
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 30px;




        a {
            display: flex;
            .nav-style;
            margin: 10px;
            color: @pink;
            text-transform: uppercase;



        }

        // @media @mobile {
        //     width: 100%;
        //     flex-direction: column;
        // }
    }


}