// Color assignments
@font-color: @white;
@background: @skyblue;
@nav-border: @lightyellow;


// Colors
@white: #ffffff;
@simpsonyellow: #FFD90F;
@skyblue: #3AC8FF;
@mintgreen: #3AF1FF;
@lightyellow: #FFF738;
@pink: #FF7C8E;

//Breakpoints
@mobile: ~"(max-width: 500px)";
@tablet-portrait-up: ~"(min-width: 501px)";
@tablet-landscape-up: ~"(min-width: 900px)";
@desktop-up: ~"(min-width: 1200px)";
@large-desktop-up: ~"(min-width: 1800px)";